.Caption {font-family:Tahoma;font-size:11px;margin-bottom:5px}
.Loading {color:#FF0000;font-weight:bold}
.SpellErrorText {font-family:Tahoma;font-size:11px;width:330px;height:86px;overflow:auto;background-color:#FFFFFF;border:1px solid #7F9DB9;padding:3px;margin-bottom:5px}
.ChangeTo {font-family:Tahoma;font-size:11px;width:330px}
.LookUpMeaning {color:#0000FF;text-decoration:underline;cursor:pointer}
.Suggestions {font-family:Tahoma;font-size:11px;width:330px;margin-bottom:10px}
.Button {font-family:Tahoma;font-size:11px;width:100px}
.Options {font-family:Tahoma;font-size:11px;margin-top:5px}
