-- =============================================
-- Create date: 6 Mar 2009
-- Project : HPF 
-- Build 
-- Description:	Insert data for agency, agency_rate, budget_category, budget_subcategory, call_center, program, servicer, funding_source, funding_source_rate, funding_source_group , outcome_type
--				, menu_security, create some default hpf_user and grant their permissions
/*	
Need to set idetity of  agency, budget_category, budget_subcategory, call_center, program, servicer, funding_source, outcome_type
OFF  at the begining 

At the end of script, re-set IDENTYTY SEED to new values for each table
*/
-- =============================================
use HPF
GO
SET IDENTITY_INSERT dbo.budget_category ON
GO
/***************************************/
/* Insert budget_category */
INSERT INTO budget_category(budget_category_id,budget_category_cd,budget_category_name,sort_order,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name)   VALUES(1,'INC','Income',10,'Y',getdate(),'Installation','SQL Studio',getdate(),'Installation','SQL Studio');
INSERT INTO budget_category(budget_category_id,budget_category_cd,budget_category_name,sort_order,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name)   VALUES(2,'EXP','Housing',30,'Y',getdate(),'Installation','SQL Studio',getdate(),'Installation','SQL Studio');
INSERT INTO budget_category(budget_category_id,budget_category_cd,budget_category_name,sort_order,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name)   VALUES(3,'EXP','Utilities',40,'Y',getdate(),'Installation','SQL Studio',getdate(),'Installation','SQL Studio');
SET IDENTITY_INSERT dbo.budget_category OFF
GO
/***************************************/
SET IDENTITY_INSERT dbo.budget_subcategory ON
GO
/* Insert budget_subcategory */
INSERT INTO budget_subcategory(budget_subcategory_id,budget_category_id,budget_subcategory_name,sort_order,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name)   VALUES(1,1,'Primary Income',10,'Y',getdate(),'Installation','SQL Studio',getdate(),'Installation','SQL Studio');
INSERT INTO budget_subcategory(budget_subcategory_id,budget_category_id,budget_subcategory_name,sort_order,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name)   VALUES(2,1,'Secondary Income',20,'Y',getdate(),'Installation','SQL Studio',getdate(),'Installation','SQL Studio');
INSERT INTO budget_subcategory(budget_subcategory_id,budget_category_id,budget_subcategory_name,sort_order,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name)   VALUES(3,1,'Alimony/Child Support Income',40,'Y',getdate(),'Installation','SQL Studio',getdate(),'Installation','SQL Studio');

SET IDENTITY_INSERT dbo.budget_subcategory OFF
GO

/***************************************/
/* Insert AGENCY */
SET IDENTITY_INSERT dbo.agency ON
GO
INSERT INTO agency(agency_id,agency_name,contact_fname,contact_lname,phone,fax,NFMC_branch_num,active_ind,hud_agency_num,hud_agency_sub_grantee_num,finance_contact_fname,finance_contact_lname,finance_phone,finance_fax,finance_email,finance_addr1,finance_city,finance_state_cd,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (2,'Auriton',null,null,null,null,82210,null,null,null,null,null,null,null,null,null,null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO agency(agency_id,agency_name,contact_fname,contact_lname,phone,fax,NFMC_branch_num,active_ind,hud_agency_num,hud_agency_sub_grantee_num,finance_contact_fname,finance_contact_lname,finance_phone,finance_fax,finance_email,finance_addr1,finance_city,finance_state_cd,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (3,'Springboard',null,null,null,null,84093,null,null,null,null,null,null,null,null,null,null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO agency(agency_id,agency_name,contact_fname,contact_lname,phone,fax,NFMC_branch_num,active_ind,hud_agency_num,hud_agency_sub_grantee_num,finance_contact_fname,finance_contact_lname,finance_phone,finance_fax,finance_email,finance_addr1,finance_city,finance_state_cd,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (4,'NovaDebt',null,null,null,null,84094,null,null,null,null,null,null,null,null,null,null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');
SET IDENTITY_INSERT dbo.agency OFF
GO

/***************************************/
/* Insert program */
SET IDENTITY_INSERT dbo.program ON
GO

INSERT INTO program(program_id,program_name,program_comment,start_dt,end_dt,allow_noncontracted_svcr_ind,service_cd,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (1,'GMAC-RFC Homecomings',null,'4/1/2003','12/31/08',null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO program(program_id,program_name,program_comment,start_dt,end_dt,allow_noncontracted_svcr_ind,service_cd,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (2,'GMAC-RFC PIA',null,'4/1/2003','12/31/08',null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO program(program_id,program_name,program_comment,start_dt,end_dt,allow_noncontracted_svcr_ind,service_cd,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (3,'Chicago 311',null,'1/20/2004','12/31/08',null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');

SET IDENTITY_INSERT dbo.program OFF
GO
/***************************************/
/* Insert agency_rate */
INSERT INTO agency_rate(program_id,agency_id,pmt_rate,eff_dt,exp_dt,rate_comment,nfmc_upcharge_pmt_rate,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (101,2,120,'1/1/2008',null,null,10,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO agency_rate(program_id,agency_id,pmt_rate,eff_dt,exp_dt,rate_comment,nfmc_upcharge_pmt_rate,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (101,3,120,'1/1/2008',null,null,10,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO agency_rate(program_id,agency_id,pmt_rate,eff_dt,exp_dt,rate_comment,nfmc_upcharge_pmt_rate,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (101,4,120,'1/1/2008',null,null,10,getdate(),'system','initial_load',getdate(),'system','initial_load');

/***************************************/
/* Insert call_center */
SET IDENTITY_INSERT dbo.call_center ON
GO
INSERT INTO call_center(call_center_id,call_center_name,contact_fname,contact_lname,phone,fax,email,call_center_cd,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (1,'ICT',null,null,null,null,null,'ICT','Y',getdate(),'system','initial_load',getdate(),'system','initial_load');

SET IDENTITY_INSERT dbo.call_center OFF
GO
/***************************************/
/* Insert funding_source */
SET IDENTITY_INSERT dbo.funding_source ON
GO
INSERT INTO funding_source(funding_source_id,funding_source_name,funding_source_abbrev,funding_source_comment,billing_email,billing_delivery_method_cd,export_format_cd,contact_fname,contact_lname,billing_addr_1,billing_addr_2,zip,city,state_cd,eff_dt,exp_dt,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (100,'American General','AMERGEN',null,null,'PORTAL','HPFSTD',null,null,null,null,null,null,null,'1/1/2008',null,'Y',getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO funding_source(funding_source_id,funding_source_name,funding_source_abbrev,funding_source_comment,billing_email,billing_delivery_method_cd,export_format_cd,contact_fname,contact_lname,billing_addr_1,billing_addr_2,zip,city,state_cd,eff_dt,exp_dt,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (101,'American Home Mortgage','AMERHOME',null,null,'PORTAL','HPFSTD',null,null,null,null,null,null,null,'1/1/2008',null,'Y',getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO funding_source(funding_source_id,funding_source_name,funding_source_abbrev,funding_source_comment,billing_email,billing_delivery_method_cd,export_format_cd,contact_fname,contact_lname,billing_addr_1,billing_addr_2,zip,city,state_cd,eff_dt,exp_dt,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (102,'America''s Servicing Company','AMERSRVC',null,null,'PORTAL','HPFSTD',null,null,null,null,null,null,null,'1/1/2008',null,'Y',getdate(),'system','initial_load',getdate(),'system','initial_load');

SET IDENTITY_INSERT dbo.funding_source OFF
GO
/***************************************/
/* Insert servicer */
SET IDENTITY_INSERT dbo.servicer ON
GO
INSERT INTO servicer(servicer_id,servicer_name,contact_fname,contact_lname,contact_email,phone,fax,active_ind,funding_agreement_ind,secure_delivery_method_cd,couseling_sum_format_cd,hud_servicer_num,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (18601,'*No Consent',null,null,null,null,null,'N','N','NOSEND',null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO servicer(servicer_id,servicer_name,contact_fname,contact_lname,contact_email,phone,fax,active_ind,funding_agreement_ind,secure_delivery_method_cd,couseling_sum_format_cd,hud_servicer_num,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (14561,'21ST CENTURY',null,null,null,null,null,'Y','N','NOSEND',null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO servicer(servicer_id,servicer_name,contact_fname,contact_lname,contact_email,phone,fax,active_ind,funding_agreement_ind,secure_delivery_method_cd,couseling_sum_format_cd,hud_servicer_num,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (50000,'21st Mortgage Corp.',null,null,null,'800-955-0021',null,'Y','N','NOSEND',null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');

SET IDENTITY_INSERT dbo.servicer OFF
GO

/***************************************/
/* Insert funding_source_group */
INSERT INTO funding_source_group(funding_source_id,servicer_id,eff_dt,exp_dt,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (100,'401','1/1/2008',null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO funding_source_group(funding_source_id,servicer_id,eff_dt,exp_dt,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (101,'17581','1/1/2008',null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO funding_source_group(funding_source_id,servicer_id,eff_dt,exp_dt,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (102,'11','1/1/2008',null,getdate(),'system','initial_load',getdate(),'system','initial_load');

/***************************************/
/* Insert funding_source_rate */
INSERT INTO funding_source_rate(program_id,funding_source_id,bill_rate,eff_dt,exp_dt,rate_comment,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (101,'100','150','1/1/2008',null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO funding_source_rate(program_id,funding_source_id,bill_rate,eff_dt,exp_dt,rate_comment,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (101,'101','150','1/1/2008',null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO funding_source_rate(program_id,funding_source_id,bill_rate,eff_dt,exp_dt,rate_comment,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (101,'102','150','1/1/2008',null,null,getdate(),'system','initial_load',getdate(),'system','initial_load');

/***************************************/
/* Insert outcome_type */
SET IDENTITY_INSERT dbo.outcome_type ON
GO

INSERT INTO outcome_type(outcome_type_id,outcome_type_name,outcome_type_comment,payable_ind,inactive_dt,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (1,'Referred to Community Assistance Program',null,'Y',null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO outcome_type(outcome_type_id,outcome_type_name,outcome_type_comment,payable_ind,inactive_dt,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (2,'Additional Counseling Scheduled',null,'Y',null,getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO outcome_type(outcome_type_id,outcome_type_name,outcome_type_comment,payable_ind,inactive_dt,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (5,'Debt Management Plan',null,'Y',null,getdate(),'system','initial_load',getdate(),'system','initial_load');

SET IDENTITY_INSERT dbo.outcome_type OFF
GO

/***************************************/
/* Insert ws_user */
INSERT INTO ws_user(agency_id,call_center_id,login_username,login_password,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (4,'1','admin','admin','Y',getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO ws_user(agency_id,call_center_id,login_username,login_password,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (17081,null,'agency','agency','Y',getdate(),'system','initial_load',getdate(),'system','initial_load');
INSERT INTO ws_user(agency_id,call_center_id,login_username,login_password,active_ind,create_dt,create_user_id,create_app_name,chg_lst_dt,chg_lst_user_id,chg_lst_app_name) values (null,'1','callcenter','callcenter','Y',getdate(),'system','initial_load',getdate(),'system','initial_load');

/***************************************/
/* Insert hpf_user, menu_security */
/****************************************************************************/
DECLARE	@return_value int, @po_hpf_user_id int, @today datetime, @v_menu_security_id int
SELECT @today = getdate();
select @v_menu_security_id = isnull(max(menu_security_id), 0) from menu_security;

-- admin         Update (Funding Source Invoices, Agency Accounts Payable, ForeclosureDetail, Invoice Payments)
EXEC	@return_value = [dbo].[hpf_hpf_user_insert]
		@pi_user_login_id = N'admin', @pi_password = NULL, @pi_active_ind = N'Y',	@pi_user_role_str_TBD = NULL,
		@pi_fname = N'Admin',	@pi_lname = N'Admin',	@pi_email = NULL, @pi_phone = NULL, @pi_last_login_dt = @today,
		@pi_create_dt = @today, @pi_create_user_id = N'system', @pi_create_app_name = N'initial_load',
		@pi_chg_lst_dt = @today,	@pi_chg_lst_user_id = N'system', @pi_chg_lst_app_name = N'initial_load',
		@po_hpf_user_id = @po_hpf_user_id OUTPUT
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 1, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id

select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 2, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id

select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 17, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id

select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 18, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id

-- FCView         Foreclosure Case - View Only
EXEC	@return_value = [dbo].[hpf_hpf_user_insert]
		@pi_user_login_id = N'fcview', @pi_password = NULL, @pi_active_ind = N'Y',	@pi_user_role_str_TBD = NULL,
		@pi_fname = N'FCView',	@pi_lname = NULL,	@pi_email = NULL, @pi_phone = NULL, @pi_last_login_dt = @today,
		@pi_create_dt = @today, @pi_create_user_id = N'system', @pi_create_app_name = N'initial_load',
		@pi_chg_lst_dt = @today,	@pi_chg_lst_user_id = N'system', @pi_chg_lst_app_name = N'initial_load',
		@po_hpf_user_id = @po_hpf_user_id OUTPUT
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 17, @pi_permission_value = 'R', @pi_hpf_user_id  = @po_hpf_user_id

-- FCEdit         Foreclosure Case - Edit
EXEC	@return_value = [dbo].[hpf_hpf_user_insert]
		@pi_user_login_id = N'fcedit', @pi_password = NULL, @pi_active_ind = N'Y',	@pi_user_role_str_TBD = NULL,
		@pi_fname = N'FCEdit',	@pi_lname = NULL,	@pi_email = NULL, @pi_phone = NULL, @pi_last_login_dt = @today,
		@pi_create_dt = @today, @pi_create_user_id = N'system', @pi_create_app_name = N'initial_load',
		@pi_chg_lst_dt = @today,	@pi_chg_lst_user_id = N'system', @pi_chg_lst_app_name = N'initial_load',
		@po_hpf_user_id = @po_hpf_user_id OUTPUT
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 17, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id

-- FCVE           Foreclosure Case - View Only and Foreclosure Case - Edit
EXEC	@return_value = [dbo].[hpf_hpf_user_insert]
		@pi_user_login_id = N'fcve', @pi_password = NULL, @pi_active_ind = N'Y',	@pi_user_role_str_TBD = NULL,
		@pi_fname = N'FCVE',	@pi_lname = NULL,	@pi_email = NULL, @pi_phone = NULL, @pi_last_login_dt = @today,
		@pi_create_dt = @today, @pi_create_user_id = N'system', @pi_create_app_name = N'initial_load',
		@pi_chg_lst_dt = @today,	@pi_chg_lst_user_id = N'system', @pi_chg_lst_app_name = N'initial_load',
		@po_hpf_user_id = @po_hpf_user_id OUTPUT
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 17, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id

-- ActView        Accounting - View Only
EXEC	@return_value = [dbo].[hpf_hpf_user_insert]
		@pi_user_login_id = N'actview', @pi_password = NULL, @pi_active_ind = N'Y',	@pi_user_role_str_TBD = NULL,
		@pi_fname = N'ActView',	@pi_lname = NULL,	@pi_email = NULL, @pi_phone = NULL, @pi_last_login_dt = @today,
		@pi_create_dt = @today, @pi_create_user_id = N'system', @pi_create_app_name = N'initial_load',
		@pi_chg_lst_dt = @today,	@pi_chg_lst_user_id = N'system', @pi_chg_lst_app_name = N'initial_load',
		@po_hpf_user_id = @po_hpf_user_id OUTPUT
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 1, @pi_permission_value = 'R', @pi_hpf_user_id  = @po_hpf_user_id
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 2, @pi_permission_value = 'R', @pi_hpf_user_id  = @po_hpf_user_id
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 18, @pi_permission_value = 'R', @pi_hpf_user_id  = @po_hpf_user_id

-- ActEdit        Accounting - Edit
EXEC	@return_value = [dbo].[hpf_hpf_user_insert]
		@pi_user_login_id = N'actedit', @pi_password = NULL, @pi_active_ind = N'Y',	@pi_user_role_str_TBD = NULL,
		@pi_fname = N'ActEdit',	@pi_lname = NULL,	@pi_email = NULL, @pi_phone = NULL, @pi_last_login_dt = @today,
		@pi_create_dt = @today, @pi_create_user_id = N'system', @pi_create_app_name = N'initial_load',
		@pi_chg_lst_dt = @today,	@pi_chg_lst_user_id = N'system', @pi_chg_lst_app_name = N'initial_load',
		@po_hpf_user_id = @po_hpf_user_id OUTPUT
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 1, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 2, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 18, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id

--ACTVE          Accounting - View Only and Accounting - Edit
EXEC	@return_value = [dbo].[hpf_hpf_user_insert]
		@pi_user_login_id = N'actve', @pi_password = NULL, @pi_active_ind = N'Y',	@pi_user_role_str_TBD = NULL,
		@pi_fname = N'ACTVE',	@pi_lname = NULL,	@pi_email = NULL, @pi_phone = NULL, @pi_last_login_dt = @today,
		@pi_create_dt = @today, @pi_create_user_id = N'system', @pi_create_app_name = N'initial_load',
		@pi_chg_lst_dt = @today,	@pi_chg_lst_user_id = N'system', @pi_chg_lst_app_name = N'initial_load',
		@po_hpf_user_id = @po_hpf_user_id OUTPUT;
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 1, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 2, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 18, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id

--ALL   Foreclosure Case - View Only and Foreclosure Case - Edit and Accounting - View Only and Accounting - Edit 
EXEC	@return_value = [dbo].[hpf_hpf_user_insert]
		@pi_user_login_id = N'all', @pi_password = NULL, @pi_active_ind = N'Y',	@pi_user_role_str_TBD = NULL,
		@pi_fname = N'ALL',	@pi_lname = NULL,	@pi_email = NULL, @pi_phone = NULL, @pi_last_login_dt = @today,
		@pi_create_dt = @today, @pi_create_user_id = N'system', @pi_create_app_name = N'initial_load',
		@pi_chg_lst_dt = @today,	@pi_chg_lst_user_id = N'system', @pi_chg_lst_app_name = N'initial_load',
		@po_hpf_user_id = @po_hpf_user_id OUTPUT
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 17, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 1, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 2, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id
select @v_menu_security_id = @v_menu_security_id +1;
EXEC	@return_value = [dbo].[hpf_menu_security_insert]	
		@pi_menu_security_id = 	@v_menu_security_id , @pi_menu_item_id = 18, @pi_permission_value = 'U', @pi_hpf_user_id  = @po_hpf_user_id;
/****************************************************************************/
