<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HPF.SharePointAPI.ContentTypes.MHAEscalation" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HPF.SharePointAPI.ContentTypes.Counselor" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HPF.SharePointAPI.ContentTypes.FannieMae" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HPF.SharePointAPI.DocumentCenter" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HPF.SharePointAPI.ContentTypes.Invoice" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HPF.SharePointAPI.ContentTypes.CounselingSummary" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="HPF.SharePointAPI.ContentTypes.AgencyPayable" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <HPF.SharePointAPI.ContentTypes.MHAEscalation>
      <setting name="LastName" serializeAs="String">
        <value>Last Name</value>
      </setting>
      <setting name="FirstName" serializeAs="String">
        <value>First Name</value>
      </setting>
      <setting name="LoanNumber" serializeAs="String">
        <value>Loan Number</value>
      </setting>
      <setting name="Servicer" serializeAs="String">
        <value>Servicer</value>
      </setting>
      <setting name="Escalation" serializeAs="String">
        <value>Escalation Code</value>
      </setting>
      <setting name="EscalationTeamNotes" serializeAs="String">
        <value>Escalation Team Notes</value>
      </setting>
      <setting name="SupportingDocumentation" serializeAs="String">
        <value>Supporting Documentation</value>
      </setting>
      <setting name="MMICaseId" serializeAs="String">
        <value>MMI Case Id</value>
      </setting>
      <setting name="GSELookup" serializeAs="String">
        <value>GSE Lookup</value>
      </setting>
      <setting name="CounselorName" serializeAs="String">
        <value>Counselor Name</value>
      </setting>
      <setting name="CounselorEmail" serializeAs="String">
        <value>Counselor Email</value>
      </setting>
      <setting name="CounselorPhone" serializeAs="String">
        <value>Counselor Phone</value>
      </setting>
      <setting name="EscalatedToMMIMgmt" serializeAs="String">
        <value>Escalated To MMI Mgmt</value>
      </setting>
      <setting name="CurrentOwnerOfIssue" serializeAs="String">
        <value>Current Owner Issue</value>
      </setting>
      <setting name="FinalResolution" serializeAs="String">
        <value>Final Resolution Code</value>
      </setting>
      <setting name="FinalResolutionNotes" serializeAs="String">
        <value>Final Resolution Notes</value>
      </setting>
      <setting name="ResolvedBy" serializeAs="String">
        <value>Resolved By</value>
      </setting>
      <setting name="EscalatedToFannieMae" serializeAs="String">
        <value>Escalated To Fannie Mae</value>
      </setting>
      <setting name="EscalatedToFreddie" serializeAs="String">
        <value>Escalated To Freddie Mac</value>
      </setting>
      <setting name="HPFNotes" serializeAs="String">
        <value>HPF Notes</value>
      </setting>
      <setting name="GSENotes" serializeAs="String">
        <value>GSE Notes</value>
      </setting>
      <setting name="CreatedDate" serializeAs="String">
        <value>Date &amp; Time</value>
      </setting>
      <setting name="FinalResolutionDate" serializeAs="String">
        <value>Final Resolution Date</value>
      </setting>
      <setting name="City" serializeAs="String">
        <value>City</value>
      </setting>
      <setting name="State" serializeAs="String">
        <value>State</value>
      </setting>
      <setting name="Zip" serializeAs="String">
        <value>Zip</value>
      </setting>
      <setting name="Address" serializeAs="String">
        <value>Address</value>
      </setting>
    </HPF.SharePointAPI.ContentTypes.MHAEscalation>
    <HPF.SharePointAPI.ContentTypes.Counselor>
      <setting name="AgencyName" serializeAs="String">
        <value>Agency Name</value>
      </setting>
      <setting name="CounselorLastName" serializeAs="String">
        <value>Last Name</value>
      </setting>
      <setting name="CounselorFirstName" serializeAs="String">
        <value>First Name</value>
      </setting>
      <setting name="CounselorPhone" serializeAs="String">
        <value>Primary Phone</value>
      </setting>
      <setting name="CounselorExt" serializeAs="String">
        <value>Phone Extension</value>
      </setting>
      <setting name="CounselorEmail" serializeAs="String">
        <value>E-Mail</value>
      </setting>
      <setting name="Title" serializeAs="String">
        <value>Title</value>
      </setting>
    </HPF.SharePointAPI.ContentTypes.Counselor>
    <HPF.SharePointAPI.ContentTypes.FannieMae>
      <setting name="FileName" serializeAs="String">
        <value>File Name</value>
      </setting>
      <setting name="StartDt" serializeAs="String">
        <value>Start Date</value>
      </setting>
      <setting name="EndDt" serializeAs="String">
        <value>End Date</value>
      </setting>
    </HPF.SharePointAPI.ContentTypes.FannieMae>
    <HPF.SharePointAPI.DocumentCenter>
      <setting name="CounselingSummary" serializeAs="String">
        <value>Counseling Summaries</value>
      </setting>
      <setting name="Invoice" serializeAs="String">
        <value>Invoices</value>
      </setting>
      <setting name="AgencyPayable" serializeAs="String">
        <value>Agency Payables</value>
      </setting>
      <setting name="DocumentCenterWeb" serializeAs="String">
        <value>DocumentCenter</value>
      </setting>
      <setting name="ErrorFolderName" serializeAs="String">
        <value>Error Folder</value>
      </setting>
      <setting name="ErrorSubject" serializeAs="String">
        <value>Upload report error</value>
      </setting>
      <setting name="ErrorBodyDoesNotExistSPFolder" serializeAs="String">
        <value>Error when upload report file {0} to {1} folder. The {1} folder does not exist. It was moved to {2}</value>
      </setting>
      <setting name="ErrorBodyEmptySPFolderName" serializeAs="String">
        <value>Error when upload report file {0} to empty folder. It was moved to {1}</value>
      </setting>
      <setting name="InvoiceLoginName" serializeAs="String">
        <value>serverimage\Administrator</value>
      </setting>
      <setting name="AgencyPayableLoginName" serializeAs="String">
        <value>serverimage\Administrator</value>
      </setting>
      <setting name="CounselingSummaryLoginName" serializeAs="String">
        <value>serverimage\Administrator</value>
      </setting>
      <setting name="SharePointSite" serializeAs="String">
        <value>http://hpf-01:6060</value>
      </setting>
      <setting name="FannieMaeLoginName" serializeAs="String">
        <value>serverimage\Administrator</value>
      </setting>
      <setting name="FannieMaeWeeklyReport" serializeAs="String">
        <value>MHARawData</value>
      </setting>
      <setting name="CounselorWeeklyList" serializeAs="String">
        <value>CounselorWeeklyList</value>
      </setting>
      <setting name="CounselorWeeklyLoginName" serializeAs="String">
        <value>serverimage\Administrator</value>
      </setting>
      <setting name="MHAEscalationList" serializeAs="String">
        <value>MHAEscalationList</value>
      </setting>
      <setting name="MHAEscalationLoginName" serializeAs="String">
        <value>serverimage\Administrator</value>
      </setting>
    </HPF.SharePointAPI.DocumentCenter>
    <HPF.SharePointAPI.ContentTypes.Invoice>
      <setting name="Date" serializeAs="String">
        <value>Date</value>
      </setting>
      <setting name="Year" serializeAs="String">
        <value>Year</value>
      </setting>
      <setting name="Month" serializeAs="String">
        <value>Month</value>
      </setting>
      <setting name="FundingSource" serializeAs="String">
        <value>Funding Source</value>
      </setting>
      <setting name="InvoiceNumber" serializeAs="String">
        <value>Invoice Number</value>
      </setting>
    </HPF.SharePointAPI.ContentTypes.Invoice>
    <HPF.SharePointAPI.ContentTypes.CounselingSummary>
      <setting name="LoanNumber" serializeAs="String">
        <value>Loan Number</value>
      </setting>
      <setting name="Servicer" serializeAs="String">
        <value>Servicer</value>
      </setting>
      <setting name="CompletedDate" serializeAs="String">
        <value>Completed Date</value>
      </setting>
      <setting name="ForeclosureSaleDate" serializeAs="String">
        <value>Foreclosure Sale Date</value>
      </setting>
      <setting name="Delinquency" serializeAs="String">
        <value>Delinquency</value>
      </setting>
      <setting name="ReviewStatus" serializeAs="String">
        <value>Review Status</value>
      </setting>
      <setting name="ReviewStatusDefaultValue" serializeAs="String">
        <value>NEW</value>
      </setting>
    </HPF.SharePointAPI.ContentTypes.CounselingSummary>
    <HPF.SharePointAPI.ContentTypes.AgencyPayable>
      <setting name="Date" serializeAs="String">
        <value>Date</value>
      </setting>
      <setting name="Year" serializeAs="String">
        <value>Year</value>
      </setting>
      <setting name="Month" serializeAs="String">
        <value>Month</value>
      </setting>
      <setting name="AgencyName" serializeAs="String">
        <value>Agency Name</value>
      </setting>
      <setting name="PayableDate" serializeAs="String">
        <value>Payable Date</value>
      </setting>
      <setting name="PayableNumber" serializeAs="String">
        <value>Payable Number</value>
      </setting>
    </HPF.SharePointAPI.ContentTypes.AgencyPayable>
  </applicationSettings>

  <system.net>
    <mailSettings>
      <!--<smtp from="ncao2@csc.com">
        <network host="172.16.48.40" port="25" defaultCredentials="true" />
      </smtp>-->
      <smtp from="pdang2@csc.com" deliveryMethod="Network">
        <network host="smtp-relay" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <appSettings>
    <add key="HPF_SUPPORT_EMAIL" value="pdang2@csc.com" />
  </appSettings>
</configuration>