<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HPF.SharePointAPI.ContentTypes.Invoice" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="HPF.SharePointAPI.ContentTypes.AccountPayable" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="HPF.SharePointAPI.ContentTypes.CounselingSummary" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="HPF.SharePointAPI.DocumentCenter" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HPF.SharePointAPI.ContentTypes.CounselingSummary>
            <setting name="LoanNumber" serializeAs="String">
                <value>Loan Number</value>
            </setting>
            <setting name="Servicer" serializeAs="String">
                <value>Servicer</value>
            </setting>
            <setting name="CompletedDate" serializeAs="String">
                <value>Completed Date</value>
            </setting>
            <setting name="ForeclosureSaleDate" serializeAs="String">
                <value>Foreclosure Sale Date</value>
            </setting>
            <setting name="Delinquency" serializeAs="String">
                <value>Delinquency</value>
            </setting>
            <setting name="ReviewStatus" serializeAs="String">
                <value>Review Status</value>
            </setting>
            <setting name="ReviewStatusDefaultValue" serializeAs="String">
                <value>New</value>
            </setting>
        </HPF.SharePointAPI.ContentTypes.CounselingSummary>
        <HPF.SharePointAPI.ContentTypes.Invoice>
            <setting name="Date" serializeAs="String">
                <value>Date</value>
            </setting>
            <setting name="Year" serializeAs="String">
                <value>Year</value>
            </setting>
            <setting name="Month" serializeAs="String">
                <value>Month</value>
            </setting>
            <setting name="FundingSource" serializeAs="String">
                <value>Funding Source</value>
            </setting>
            <setting name="InvoiceNumber" serializeAs="String">
                <value>Invoice Number</value>
            </setting>
        </HPF.SharePointAPI.ContentTypes.Invoice>
        <HPF.SharePointAPI.ContentTypes.AccountPayable>
            <setting name="Date" serializeAs="String">
                <value>Date</value>
            </setting>
            <setting name="Year" serializeAs="String">
                <value>Year</value>
            </setting>
            <setting name="Month" serializeAs="String">
                <value>Month</value>
            </setting>
            <setting name="FundingSource" serializeAs="String">
                <value>Funding Source</value>
            </setting>
            <setting name="InvoiceNumber" serializeAs="String">
                <value>Invoice Number</value>
            </setting>
        </HPF.SharePointAPI.ContentTypes.AccountPayable>
        <HPF.SharePointAPI.ContentTypes.CounselingSummry>
            <setting name="LoanNumber" serializeAs="String">
                <value>Loan Number</value>
            </setting>
            <setting name="Servicer" serializeAs="String">
                <value>Servicer</value>
            </setting>
            <setting name="CompletedDate" serializeAs="String">
                <value>Completed Date</value>
            </setting>
            <setting name="ForeclosureSaleDate" serializeAs="String">
                <value>Foreclosure Sale Date</value>
            </setting>
            <setting name="Delinquency" serializeAs="String">
                <value>Delinquency</value>
            </setting>
            <setting name="ReviewStatus" serializeAs="String">
                <value>Review Status</value>
            </setting>
        </HPF.SharePointAPI.ContentTypes.CounselingSummry>
        <HPF.SharePointAPI.DocumentCenter>
            <setting name="CounselingSummary" serializeAs="String">
                <value>Counseling Summary</value>
            </setting>
            <setting name="Invoice" serializeAs="String">
                <value>Invoices</value>
            </setting>
            <setting name="AccountPayable" serializeAs="String">
                <value>Accounts Payable</value>
            </setting>
            <setting name="SharePointSite" serializeAs="String">
                <value>http://litwaredemo</value>
            </setting>
            <setting name="DocumentCenterWeb" serializeAs="String">
                <value>Doc</value>
            </setting>
            <setting name="InvoiceLoginName" serializeAs="String">
                <value>LITWAREINC\user1</value>
            </setting>
            <setting name="AccountPayableLoginName" serializeAs="String">
                <value>LITWAREINC\user1</value>
            </setting>
            <setting name="CounselingSummaryLoginName" serializeAs="String">
                <value>LITWAREINC\user1</value>
            </setting>
        </HPF.SharePointAPI.DocumentCenter>
    </applicationSettings>
</configuration>