<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="HPF.SharePointAPI.DocumentCenter" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <HPF.SharePointAPI.DocumentCenter>
            <setting name="ConselingSummary" serializeAs="String">
                <value>Conseling Summary</value>
            </setting>
            <setting name="Invoice" serializeAs="String">
                <value>Invoices</value>
            </setting>
            <setting name="AccountPayable" serializeAs="String">
                <value>Accounts Payable</value>
            </setting>
            <setting name="SharePointSite" serializeAs="String">
                <value>http://hpf-04</value>
            </setting>
            <setting name="DocumentCenterWeb" serializeAs="String">
                <value>Docs</value>
            </setting>
            <setting name="ConselingSummaryUserName" serializeAs="String">
                <value>hpf-04\namcao</value>
            </setting>
            <setting name="ConselingSummaryPassword" serializeAs="String">
                <value>Password123</value>
            </setting>
            <setting name="InvoiceUserName" serializeAs="String">
                <value>hpf-04\namcao</value>
            </setting>
            <setting name="InvoicePassword" serializeAs="String">
                <value>Password123</value>
            </setting>
            <setting name="AccountPayableUserName" serializeAs="String">
                <value>hpf-04\namcao</value>
            </setting>
            <setting name="AccountPayablePassword" serializeAs="String">
                <value>Password123</value>
            </setting>
        </HPF.SharePointAPI.DocumentCenter>
    </applicationSettings>
</configuration>