<?xml version="1.0" encoding="utf-8" ?> 
<MenuBar>
  <Menu Id="Home" Title="Home" Url="default.aspx" Enabled="True">    
  </Menu>
  <Menu Id="searchCase" Title="Search Foreclosure Case" Url="SearchForeclosureCase.aspx" Enabled="True">
  </Menu>
  <Menu Id="insertCallLog" Title="Insert Call Log" Url="InsertCallLog.aspx" Enabled="True">
  </Menu>
  <Menu Id="retrieveCallLog" Title="Retrieve Call Log" Url="RetrieveCallLog.aspx" Enabled="True">
  </Menu>
</MenuBar>
