<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site.master.cs" Inherits="HPF.FutureState.WebService.Test.Web.Site" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>HPF FutureState Web Service test</title>
    <asp:ContentPlaceHolder ID="ContentPlaceHolderHeader" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="mainform" runat="server">
    <div>
        <asp:ContentPlaceHolder ID="ContentPlaceHolderBody" runat="server">
        
        </asp:ContentPlaceHolder>
    </div>
    </form>
</body>
</html>
