-- =============================================
-- Create date: 21 Jan 2009
-- Project : HPF 
-- Build 
-- Description:	Create HPF database
-- =============================================
use master
go
CREATE DATABASE [hpf] ON  PRIMARY 
( NAME = N'hpf', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\hpf.mdf' , SIZE = 2048KB , FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'hpf_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL.1\MSSQL\DATA\hpf_log.ldf' , SIZE = 1024KB , FILEGROWTH = 10%)
GO
EXEC dbo.sp_dbcmptlevel @dbname=N'hpf', @new_cmptlevel=90
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [hpf].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [hpf]
GO
IF NOT EXISTS (SELECT name FROM sys.filegroups WHERE is_default=1 AND name = N'PRIMARY') ALTER DATABASE [hpf] MODIFY FILEGROUP [PRIMARY] DEFAULT
GO
