.sidetable
{
    border-top-width: 1px;
    border-right-width: 0px;
    border-bottom-width: 0px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: #FFFFFF;
    border-right-color: #FFFFFF;
    border-bottom-color: #FFFFFF;
    border-left-color: #FFFFFF;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
}
h1
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #2271A0;
    font-size: 14px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-decoration: none;
}
h3
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #2271A0;
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
    font-variant: normal;
    text-decoration: none;
}
p
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.sidetable2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #FFFFFF;
}
.sidelinks
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #2271A0;
    font-size: 11px;
    font-weight: bold;
    
}
.Text
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: Black;
    font-size: 10px;
    padding-left:1px;
}
.MyButton
{
    background-color: White;
    border-color: White;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #2271A0;
    font-size: 10px;
    font-weight: bold;
}
.baseline
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #FFFFFF;
}
td
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #000000;
}

.sidelinks2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: bold;
    text-decoration: none;
}
.sidelinks2:a:hover
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #FFFFFF;
    font-size: 10px;
    font-weight: normal;
    text-decoration: underline;
}
h2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #666666;
}
.producthdr
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #2271A0;
    font-weight: bold;
}


.Title
{
    font-weight: bold;
    text-align: right;
    font-size: 12px;
}
.Control
{
    text-align: left;
    vertical-align: top;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: Black;
    font-size: 10px;
}
.Text2
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: Black;
    font-size: 10px;
    padding-left: 10px;
}
.FixedHeader
{
    position: relative;
    top: expression(offsetParent.scrollTop);
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #507CD1;
    color: White;
    height:20px;
    text-align: center;    
}

/*Overwrite*/
.ajax__calendar_container
{
	z-index: 1000 !important;
}

.NormalHeader
{
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 10px;
    background-color: #507CD1;
    color: White;
    font-weight: bold;
}
.ScrollTable
{
    position: relative;
    width: 950px;
    height: 265px;
    overflow: auto;
}
.GridViewStyle
{
    border-top-style: none;
    border-bottom-style: none;
    border-left-style: none;
    border-right-style: none;
}
.Header
{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #8FC4F6;
}
.NoUnderLine
{
    text-decoration: none;
}
.UnderLine
{
    text-decoration: underline;
}
.UnderLine:active
{
    color: orange;
    font-weight: bold;
}
.PageChoose
{
    color: orange;
    font-weight: bold;
    text-decoration: none;
}
.SiteBar
{
    background-color: #60A5DE;
}


.ErrorMessage
{
    color: Red;
}

.SelectedRowStyle
{
    background-color: #D1DDF1;
    color: #333333;
}
.AlternatingRowStyle
{
    background-color: white;
}
.RowStyle
{
    background-color: #EFF3FB;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12px;
}
.CellBorderRight
{
    border-top: solid 1px #D4D0C8;
    border-bottom-style: none;
    border-left-style: none;
}
.CellBorderLeft
{
    border-top: solid 1px #D4D0C8;
    border-bottom-style: none;
    border-right-style: none;
}
.TextBoldCell
{
    font-weight: bold;
}
#tbTotal
{
    border-color: #D4D0C8;
    border-width: 0 0 1px 1px;
    border-style: solid;
}
#tbTotal td
{
    border-color: #D4D0C8;
    border-width: 1px 1px 0 0;
    border-style: solid;
    margin: 0;
    padding: 4px;
}
.PopUpHeader
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    background-color: #507CD1;
    color: White;
    font-weight: bold;
    padding:5px;
}
.PopUpBody
{
	border: 1px solid black; 
	background-color: #60A5DE;
	padding: 1px;
    text-align: center; 
    display: none;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    
}	
.PopUpMessage
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color:White;
}

.ajax__calendar_container {padding:4px;position:absolute;cursor:default;width:170px;font-size:11px;text-align:center;font-family:tahoma,verdana,helvetica;}
.ajax__calendar_body {height:139px;width:170px;position:relative;overflow:hidden;margin:auto;}
.ajax__calendar_days, .ajax__calendar_months, .ajax__calendar_years {top:0px;left:0px;height:139px;width:170px;position:absolute;text-align:center;margin:auto;}
.ajax__calendar_container TABLE {font-size:11px;}
.ajax__calendar_header {height:20px;width:100%;}
.ajax__calendar_prev {cursor:pointer;width:15px;height:15px;float:left;background-repeat:no-repeat;background-position:50% 50%;background-image:url(../Styles/Images/left.gif);}
.ajax__calendar_next {cursor:pointer;width:15px;height:15px;float:right;background-repeat:no-repeat;background-position:50% 50%;background-image:url(../Styles/Images/right.gif);}
.ajax__calendar_title {cursor:pointer;font-weight:bold;}
.ajax__calendar_footer {height:15px;}
.ajax__calendar_today {cursor:pointer;padding-top:3px;}
.ajax__calendar_dayname {height:17px;width:17px;text-align:right;padding:0 2px;}
.ajax__calendar_day {height:17px;width:18px;text-align:right;padding:0 2px;cursor:pointer;}
.ajax__calendar_month {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}
.ajax__calendar_year {height:44px;width:40px;text-align:center;cursor:pointer;overflow:hidden;}

.ajax__calendar .ajax__calendar_container {border:1px solid #646464;background-color:#ffffff;color:#000000;}
.ajax__calendar .ajax__calendar_footer {border-top:1px solid #f5f5f5;}
.ajax__calendar .ajax__calendar_dayname {border-bottom:1px solid #f5f5f5;}
.ajax__calendar .ajax__calendar_day {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_month {border:1px solid #ffffff;}
.ajax__calendar .ajax__calendar_year {border:1px solid #ffffff;}

.ajax__calendar .ajax__calendar_active .ajax__calendar_day {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_month {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}
.ajax__calendar .ajax__calendar_active .ajax__calendar_year {background-color:#edf9ff;border-color:#0066cc;color:#0066cc;}

.ajax__calendar .ajax__calendar_other .ajax__calendar_day {background-color:#ffffff;border-color:#ffffff;color:#646464;}
.ajax__calendar .ajax__calendar_other .ajax__calendar_year {background-color:#ffffff;border-color:#ffffff;color:#646464;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_day {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_month {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_year {background-color:#edf9ff;border-color:#daf2fc;color:#0066cc;}

.ajax__calendar .ajax__calendar_hover .ajax__calendar_title {color:#0066cc;}
.ajax__calendar .ajax__calendar_hover .ajax__calendar_today {color:#0066cc;}
