.sidetable {
	border-top-width: 1px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
}
h1 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #2271A0;
	font-size: 14px;
	font-style: normal;
	font-weight: bold;
	font-variant: normal;
	text-decoration: none;
}
p {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
}
.sidetable2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FFFFFF;
}
.sidelinks {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #2271A0;
	font-size: 10px;
	font-weight: bold;
}
.baseline {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
td {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #000000;
}
.sidelinks2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: normal;
	text-decoration: none;
}
.sidelinks2:a:hover {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	font-size: 10px;
	font-weight: normal;
	text-decoration: underline;
}
h2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666666;
}
.producthdr {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #2271A0;
	font-weight: bold;
}
a {
	color: #000000;
	text-decoration: none;
}
a:hover {
	color: #000000;
	text-decoration: underline;
}

#sddm
{	margin: 0;
	padding: 0;
	z-index: 30;
	}

#sddm td
{	margin: 0;
	padding: 0;
	font-family:Tahoma;
	font-size: 13px;
	font-weight:bold;
	height:29;
}

#sddm td a
{	
	display: block;
	margin: 0 1 0 0;
	padding: 6 6;
	background: transparent;
	color: #FFF;
	text-align:center;
	text-decoration: none;
	width :auto;
}


.TopMenu 
{
	display: block;
	margin: 0 1 0 0;
	padding: 6 6;
	background: transparent;
	color: #FFF;
	text-align:center;
	text-decoration: none;
	width :auto;
	
}
.TopMenuMouseOver
{
	background: #49A3FF;
	}



#sddm table
{	
	position: absolute;
	visibility: hidden;
	margin: 0;
	padding: 0;
	background: #8FC4F6;
	border: 1px solid #000;
	width:auto;
	
}
#sddm table tr td
{
	
	height:20px;
	width:100%;
	
	
}
#sddm table tr td a
{	
	position:relative; 
	display: block;
	margin: 0;
	padding: 5 10 ;
	width: auto;
	white-space: nowrap;
	text-align: left;
	text-decoration: none;
	background: #8FC4F6;
	color: #fff;
	font:  11 Tahoma;
	height:11;
}

#sddm table tr td a:hover
{	
		background: #49A3FF;
		color: #fff;
}
*{font-family:Tahoma,Arial; font-size:12px;}
.Title
    {
        font-weight: bold;
        text-align: right;
        font-size:12px;
    }
    .Control
    {
        text-align: left;
        padding-left: 10px;
    }
    .FixedHeader
    {
        position: relative;
        top: expression(offsetParent.scrollTop);
    }
    .ScrollTable
    {
        position: relative;
        width: 950px;
        height: 300px;
        overflow: auto;
        margin: 0;
    }
    .GridViewStyle
    {
        border-top-style: none;
        
    }

