#sddm
{        		
	height:26px;
    width:600px;    
    z-index: 30;    
}

#sddm td
{   	
	display: block;
    font-family: Tahoma;
    font-size: 13px;
    font-weight: bold;    
}

#menuItem
{
    display: block;    
    background: transparent;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    width: auto;       
}

#sddm table
{			
	position:absolute;	
    visibility:hidden;    
    background: #60A5DE;/* #8FC4F6;*/
    border: 0px solid #60A5DE;
    width: auto;   
    z-index:500;   
}

#subMenuItem
{    	
	display:block;  
    width: auto;
    white-space: nowrap;
    text-align: left;
    text-decoration: none;
    background: #8FC4F6;
    color: #fff;
    font-size: 11px;
    font-family:Verdana, Arial, Helvetica, sans-serif;    
    font-weight:normal;
    height:20px;
    vertical-align:middle;       
}
#subMenuItem:hover
{
    background: #66B3FF;
    color: #fff;
}
