<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HPF.SharePointAPI.DocumentCenter" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="HPF.SharePointAPI.DocumentCenter" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <HPF.SharePointAPI.DocumentCenter>
      <setting name="ConselingSummary" serializeAs="String">
        <value>Conseling Summary</value>
      </setting>
      <setting name="Invoice" serializeAs="String">
        <value>Invoices</value>
      </setting>
      <setting name="AccountPayable" serializeAs="String">
        <value>Accounts Payable</value>
      </setting>
      <setting name="DocumentCenterSite" serializeAs="String">
        <value>http://litwaredemo</value>
      </setting>
    </HPF.SharePointAPI.DocumentCenter>
  </applicationSettings>
  <userSettings>
    <HPF.SharePointAPI.DocumentCenter>
      <setting name="DocumentCenterWeb" serializeAs="String">
        <value>Doc</value>
      </setting>
      <setting name="ConselingSummaryUserName" serializeAs="String">
        <value>LITWAREINC\namcao</value>
      </setting>
      <setting name="ConselingSummaryPassword" serializeAs="String">
        <value>12345#qwe</value>
      </setting>
      <setting name="InvoiceUserName" serializeAs="String">
        <value>LITWAREINC\namcao</value>
      </setting>
      <setting name="InvoicePassword" serializeAs="String">
        <value>12345#qwe</value>
      </setting>
      <setting name="AccountPayableUserName" serializeAs="String">
        <value>LITWAREINC\namcao</value>
      </setting>
      <setting name="AccountPayablePassword" serializeAs="String">
        <value>12345#qwe</value>
      </setting>
    </HPF.SharePointAPI.DocumentCenter>
  </userSettings>

  <connectionStrings>
    <add name="HPFConnectionString" connectionString="Data Source=HPF-01;Initial Catalog=HPF;user id=sa;password=Password123" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.net>
    <mailSettings>
      <smtp from="HPF.DoNotReply@HopeNetAdmin.org">
        <network host="172.16.48.40" port="25" defaultCredentials="true" />
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <add key="REPORTSERVER_URL" value="http://hpf-04:8080/ReportServer"/>
    <add key="REPORTSERVER_LOGINNAME" value="Administrator"/>
    <add key="REPORTSERVER_DOMAIN" value="HPF-04"/>
    <add key="REPORTSERVER_PASSWORD" value="Password123"/>
    <add key="SHAREPOINT_REPORT_LIBRARY" value="http://hpf-04/Reports/HPFReportsLibrary"/>
    <add key="HPF_COUNSELINGSUMMARY_REPORT" value="/Reports/rpt_CounselingSummary.rdl"/>
  </appSettings>
</configuration>