<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="HPFConnectionString" connectionString="Data Source=HPF-01;Initial Catalog=HPF;user id=sa;password=Password123" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>    
    <add key="REPORTSERVER_URL" value="http://hpf-01:8080/ReportServer"/>
    <add key="REPORTSERVER_LOGINNAME" value="Administrator"/>
    <add key="REPORTSERVER_DOMAIN" value="HPF-01"/>
    <add key="REPORTSERVER_PASSWORD" value="Password123"/>    
  </appSettings>
</configuration>