BODY
{
    BACKGROUND-COLOR: #FFFFFF;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    MARGIN-LEFT: 12px
}
H1
{
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, helvetica, Times New Roman, helvetica;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: bolder;
}
H2
{
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, helvetica, Times New Roman, helvetica;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bolder;
}
H3
{
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, helvetica, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bolder;
}
A
{
    COLOR: blue;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    TEXT-DECORATION: underline
}
A.Mini
{
    COLOR: blue;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: underline
}
A.DataLinkMini
{
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 8pt;
    TEXT-DECORATION: underline
}
TD
{
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: top
}
TH
{
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: #008080;
    FONT-FAMILY: Verdana, Arial, helvetica, Times New Roman;
    FONT-SIZE: 12pt;
    FONT-WEIGHT: bolder;
    TEXT-ALIGN: center
}
TD.HeaderCell
{
    BACKGROUND-COLOR: #FFFFFF;
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, helvetica, Times New Roman;
    FONT-SIZE: 14pt;
    FONT-WEIGHT: bolder;
    TEXT-ALIGN: left
}
TD.DataCenter
{
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: center
}
TD.DataRight
{
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: right
}
TD.DataLeft
{
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    TEXT-ALIGN: left
}
TD.DataLeftMini
{
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: left
}
TD.DataLeftMiniBlank
{
    COLOR: CCCCCC;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: left
}
TD.DataRightMini
{
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: right
}
TD.DataRightMiniBlank
{
    COLOR: CCCCCC;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 8pt;
    TEXT-ALIGN: right
}
TD.DataBottom
{
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt
}
TD.SortTitleLeft
{
    BACKGROUND-COLOR: #999999;
    BORDER-BOTTOM: #000000 solid 1px;
    BORDER-LEFT: #cccccc solid 1px;
    BORDER-RIGHT: #000000 solid 1px;
    BORDER-TOP: #cccccc solid 1px;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    COLOR: Blue;
    TEXT-DECORATION: underline;
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt;
    VERTICAL-ALIGN: bottom
}
TD.NoSortTitleLeft
{
    BACKGROUND-COLOR: #999999;
    BORDER-BOTTOM: #000000 solid 1px;
    BORDER-LEFT: #cccccc solid 1px;
    BORDER-RIGHT: #000000 solid 1px;
    BORDER-TOP: #cccccc solid 1px;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    COLOR: Blue;
    TEXT-ALIGN: left;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt;
    VERTICAL-ALIGN: bottom
}
TD.TableTitleLeft
{
    BACKGROUND-COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: bottom
}
TD.TableTitleCenter
{
    BACKGROUND-COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt;
    TEXT-ALIGN: center;
    VERTICAL-ALIGN: bottom
}
TD.TableTitleRight
{
    BACKGROUND-COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: bottom
}
TD.TableRowHeader
{
    BACKGROUND-COLOR: #e0e0e0;
    COLOR: black;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: top
}
TD.TableDataLeft
{
    BACKGROUND-COLOR: #f0f0f0;
    BORDER-BOTTOM: #cccccc 1px solid;
    BORDER-LEFT: #666666 1px solid;
    BORDER-RIGHT: #cccccc 1px solid;
    BORDER-TOP: #666666 1px solid;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt;
    TEXT-ALIGN: left;
    VERTICAL-ALIGN: top
}
TD.TableDataRight
{
    BACKGROUND-COLOR: #f0f0f0;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: top;
    text-format: $#,###.##
}
TD.TableDataRightTotal
{
    BACKGROUND-COLOR: #f0f0f0;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    COLOR: darkslateblue;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: top;
    text-format: $#,###.##
}
TD.TableDataBottomTotal
{
    BACKGROUND-COLOR: #f0f0f0;
    BORDER-BOTTOM: #000000 1px solid;
    BORDER-LEFT: #cccccc 1px solid;
    BORDER-RIGHT: #000000 1px solid;
    BORDER-TOP: #cccccc 1px solid;
    COLOR: green;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt;
    TEXT-ALIGN: right;
    VERTICAL-ALIGN: top;
    text-format: $#,###.##
}
.Fields
{
    BACKGROUND-COLOR: #cccccc;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt
}
.App
{
    BACKGROUND-COLOR: #cccccc;
    BORDER-BOTTOM-WIDTH: 1px;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-TOP-WIDTH: 1px;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt
}
.TabActive
{
    BACKGROUND-COLOR: #cccccc;
    BORDER-BOTTOM: #cccccc 2px;
    BORDER-LEFT: #ffffff 2px outset;
    BORDER-RIGHT: #ffffff 2px outset;
    BORDER-TOP: #ffffff 2px outset;
    COLOR: red;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: normal;
    PADDING-BOTTOM: 2pt;
    PADDING-LEFT: 2pt;
    PADDING-RIGHT: 2pt;
    PADDING-TOP: 2pt;
    TEXT-DECORATION: underline
}
.TabInactive
{
    BACKGROUND-COLOR: #cccccc;
    BORDER-BOTTOM: #ffffff 1px solid;
    BORDER-LEFT: #ffffff 2px outset;
    BORDER-RIGHT: #ffffff 2px outset;
    BORDER-TOP: #ffffff 2px outset;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 2pt;
    PADDING-LEFT: 2pt;
    PADDING-RIGHT: 2pt;
    PADDING-TOP: 2pt
}
.TabBlank
{
    BACKGROUND-COLOR: #cccccc;
    BORDER-BOTTOM: #ffffff 1px solid;
    BORDER-LEFT-WIDTH: 1px;
    BORDER-RIGHT-WIDTH: 1px;
    BORDER-TOP-WIDTH: 1px;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt
}
.TabContainer
{
    BACKGROUND-COLOR: #cccccc;
    BORDER-BOTTOM: #ffffff 1px outset;
    BORDER-LEFT: #ffffff 1px outset;
    BORDER-RIGHT: #ffffff 1px outset;
    BORDER-TOP: #cccccc 1px;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    FONT-SIZE: 10pt;
    PADDING-BOTTOM: 1pt;
    PADDING-LEFT: 1pt;
    PADDING-RIGHT: 1pt;
    PADDING-TOP: 1pt
}
.hidden
{
    DISPLAY: none
}
.show
{
    DISPLAY: inline
}
.HelpText
{
    CURSOR: help;
    FONT-FAMILY: Verdana, Arial, Times New Roman, helvetica;
    TEXT-DECORATION: underline
}
INPUT.required
{
    BACKGROUND-COLOR: #ffffcc
}
.StepCount
{
    COLOR: #333399;
    FONT-FAMILY: Arial;
    FONT-SIZE: 16pt;
    FONT-WEIGHT: bolder
}
