.ReportHeader
{
	font-weight: bold;
	font-size: 10pt;
	color: black;
	background-color: #999999;
}
.ReportRow_LeftA
{
  font-size: 8pt;
  text-align: left;
}
.ReportRow_RightA
{
  font-size: 8pt;
  text-align: right;
}
.ReportRowTotal
{
  font-weight: bold;
  font-size: 8pt;
  text-align: right;
}

.ReportRowGroup1
{
  font-weight: bold;
  font-size: 9pt;
  font-style: italic;
  text-align: left;
}

.ReportRowGroup1Right
{
  font-weight: bold;
  font-size: 9pt;
  font-style: italic;
  text-align: right;
}

.ReportRowGroup2
{
	font-weight: bold;
	font-size: 8pt;
	text-align: left;
}
