<?xml version="1.0" encoding="utf-8" ?> 
<MenuBar>
  <Menu Id="Searching" Title="Search" Url="" Enabled="True">
    <MenuItem Id="searchCase" Title="Search FcCase" Url="SearchForeclosureCase.aspx" Enabled="True"/>
    <MenuItem Id="ictsearchCase" Title="ICT Search FcCase" Url="ICTSearchForeclosureCase.aspx" Enabled="True"/>
    <MenuItem Id="ictsearchCall" Title="ICT Search Call" Url="ICTSearchCall.aspx" Enabled="True"/>
  </Menu>

  <Menu Id="Call" Title="Call" Url="" Enabled="true">
    <MenuItem Id="insertCallLog" Title="Insert Call" Url="InsertCallLog.aspx" Enabled="True"/>
    <MenuItem Id="retrieveCallLog" Title="Retrieve Call" Url="RetrieveCallLog.aspx" Enabled="True"/>
  </Menu>
  <Menu Id="FcCase" Title="Fc Case" Url="" Enabled="true">
    <MenuItem Id="saveCase" Title="Save FcCase" Url="SaveForeclosureCase.aspx" Enabled="True"/>
    <MenuItem Id="getFcCase" Title="Retriece Summary" Url="RetrieveSummary.aspx" Enabled="True"/>
    <MenuItem Id="SendSummary" Title="Send Summary" Url="SendSummary.aspx" Enabled="True"/>
  </Menu>
  <Menu Id="Event" Title="Event" Url="" Enabled="true">
    <MenuItem Id="saveEvent" Title="Save Event" Url="SaveEvent.aspx" Enabled="True"/>
  </Menu>
  <Menu Id="PPCase" Title="PP Case" Url="" Enabled="true">
    <MenuItem Id="savePPCase" Title="Save PPCase" Url="SavePrePurchaseCase.aspx" Enabled="True"/>
  </Menu>
  <Menu Id="inFor" Title="System" Url="" Enabled="true">
    <MenuItem Id="retrieceRefCodes" Title="Retrieve Ref Codes" Url="RetieveRefCodes.aspx" Enabled="True"/>
    <MenuItem Id="retrieveServicerList" Title="Retrieve Servicer List" Url="RetrieveServicerList.aspx" Enabled="True"/>
  </Menu>  
</MenuBar>
